
.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section {
    margin-bottom: 40px;
}

.sectionTitle {
    margin-bottom: 16px;
    font-size: 18px;
}

.recommendedMoviesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-between;
    gap: 8px;
}

.allMoviesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: space-between;
    gap: 8px;
}

@media screen and (max-width: 470px) {
    .recommendedMoviesContainer,
    .allMoviesContainer {
        grid-template-columns: 1fr;
    }
    
}
